@import "tailwindcss";

@theme {
   --color-primary: #D72638;
   --color-secondary: ;
   --color-accent: #77C3EC;   
}

body {
  background: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

.page_header{
  @apply text-3xl font-extrabold text-center sm:text-4xl md:text-6xl mb-3;
}

.nav-active{
  @apply !text-primary;
}

.hover_raise{
  @apply transition-all hover:border-red-600 hover:shadow-md hover:-translate-y-3.5 border-gray-200 border-[1px]
}
